#task-list {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;

    .task {
        display: flex;
        gap: 2rem;

        .task-text {
            cursor: pointer;

            &:hover {
                transform: translateY(-.2rem);
            }
        }

        .task-delete {
            cursor: pointer;

            &:hover {
                transform: scale(1.2);
            }
        }

        &.done .task-text {
            text-decoration: line-through;
        }
    }
}