#task-list {
    .task {

        .task-text {
            cursor: pointer;

            &:hover {
                transform: translateY(-.2rem);
            }
        }

        .task-delete {
            cursor: pointer;

            &:hover {
                transform: scale(1.2);
            }
        }

        &.done .task-text {
            text-decoration: line-through;
        }
    }
}